@model ISIProject.Models.Department

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Department</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DivisionId, "Division")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DivisionId", String.Empty)
            @Html.ValidationMessageFor(model => model.DivisionId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartmentManagerId, "DepartmentManager")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DepartmentManagerId", String.Empty)
            @Html.ValidationMessageFor(model => model.DepartmentManagerId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
