@model IEnumerable<ISIProject.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th style="padding-right:10px">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="padding-right:10px">
            @Html.DisplayName("Division")
        </th>
        <th>
            @Html.DisplayName("Manager")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Division.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentManager.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DepartmentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DepartmentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentId })
        </td>
    </tr>
}

</table>
