@model ISIProject.Models.DeptManagerSelectEmp

@{
    ViewBag.Title = "Index";
}

<h2>Manage Employees</h2>
@using (Html.BeginForm()) 
{
    <p>Search by:</p>
    <p>
        @for (int i = 0; i < Model.SelectionCategories.Length; i++)
        {
            if (i == 0)
            {
                @Html.DisplayName(Model.SelectionCategories[i] + " ") @Html.RadioButtonFor(m => m.SelectedCategory, i, 
                    new { style="margin-right:50px", Checked = "checked"})         
            }
            else
            {
                @Html.DisplayName(Model.SelectionCategories[i] + " ") @Html.RadioButtonFor(m => m.SelectedCategory, i, 
                    new { style="margin-right:50px"})
            }
        }
        @Html.TextBoxFor(m => m.SearchString)
        <input type="submit" name="submitButton" value="Search" />
    </p>

    <table>
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th style="padding-right:10px">
                @Html.DisplayName("Department")
            </th>
        </tr>

        @for (int i = 0; i < Model.Employees.Count; i++)
        {
            <tr>
                <td>
                    @Html.CheckBoxFor(modelItem => Model.IsSelected[i])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Employees[i].EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Employees[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Employees[i].Department.Name)
                </td>
            </tr>
        }
    </table>
    
    <input type="submit" name="submitButton" value="Save" />
}