@model IEnumerable<ISIProject.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Add Employees</h2>
<p>Search by:</p>
<p>
    @Html.DisplayName("Id") @Html.RadioButton("Category", new object())
    @Html.DisplayName("Name") @Html.RadioButton("Category", new object())
    @Html.DisplayName("Department") @Html.RadioButton("Category", new object())
</p>
<table>
    <tr>
        <th></th>
        <th>
            @Html.DisplayName("Id")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Department")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBox("Checkbox" + item.EmployeeId.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
        </tr>
    }
</table>
